servers/node-red-flows.json
[
    {
        "id": "bd6df3c71e332263",
        "type": "tab",
        "label": "eventPresent Flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec316c01587be078",
        "type": "mqtt-broker",
        "name": "mqtt adminred",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f49df936df677544",
        "type": "mqtt in",
        "z": "bd6df3c71e332263",
        "name": "",
        "topic": "admin/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ec316c01587be078",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "8954b5416bfd12a4"
            ]
        ]
    },
    {
        "id": "02de8e1d9ec75150",
        "type": "debug",
        "z": "bd6df3c71e332263",
        "name": "Mosquitto msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "0aa9867bc547af02",
        "type": "mqtt in",
        "z": "bd6df3c71e332263",
        "name": "user/in",
        "topic": "user/in",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ec316c01587be078",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "8d794af0862c2ffc",
                "8d0740642e8605be"
            ]
        ]
    },
    {
        "id": "c1be02d6f16e38a9",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "user/out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "518f69bb3b545182",
        "type": "debug",
        "z": "bd6df3c71e332263",
        "name": "user in/out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "7849f26a2d5e573f",
        "type": "switch",
        "z": "bd6df3c71e332263",
        "name": "message type",
        "property": "payload.t",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vote",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 700,
        "wires": [
            [
                "518f69bb3b545182",
                "c1be02d6f16e38a9"
            ],
            [
                "e340886173db8ab2"
            ]
        ]
    },
    {
        "id": "ea0d103bcb6d78a7",
        "type": "mqtt in",
        "z": "bd6df3c71e332263",
        "name": "connected clients",
        "topic": "$SYS/broker/clients/connected",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ec316c01587be078",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "abeba751e32b09eb"
            ]
        ]
    },
    {
        "id": "f0024ac8ab0aca2e",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "admin/state",
        "topic": "admin/state",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "6d814a14c5046535",
        "type": "inject",
        "z": "bd6df3c71e332263",
        "name": "admin state 1s",
        "props": [
            {
                "p": "payload.clients",
                "v": "connections",
                "vt": "global"
            },
            {
                "p": "payload.votes",
                "v": "votesCount",
                "vt": "global"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "f0024ac8ab0aca2e",
                "9463233b8a6a9e70"
            ]
        ]
    },
    {
        "id": "abeba751e32b09eb",
        "type": "change",
        "z": "bd6df3c71e332263",
        "name": "track connection count",
        "rules": [
            {
                "t": "set",
                "p": "connections",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5ccad9bb0d443845",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "set global context for connection count",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "cddf4953399b2887",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "send an admin state every 1s",
        "info": "",
        "x": 200,
        "y": 160,
        "wires": []
    },
    {
        "id": "6ba37d79bcb7c4c5",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "handle incoming user messages",
        "info": "\n",
        "x": 210,
        "y": 660,
        "wires": []
    },
    {
        "id": "d86243bef5fe6f22",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "handle incoming admin messages",
        "info": "\n",
        "x": 220,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d794af0862c2ffc",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "set topic",
        "func": "msg.topic = \"user/out/\" + msg.payload.nid;\nif (msg.payload.ret === true) {\n    // we only allow a user client to request this for testing\n    msg.retain = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 700,
        "wires": [
            [
                "7849f26a2d5e573f"
            ]
        ]
    },
    {
        "id": "5b6495e98af2cb5f",
        "type": "switch",
        "z": "bd6df3c71e332263",
        "name": "message type",
        "property": "payload.t",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "msg",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reveal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clear",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "1c92a6958cdd3fe8",
                "8cc8f5d3dfa412cc"
            ],
            [
                "045ee2025362b1a3"
            ],
            [
                "dafda022462fc446",
                "c3148f0baabf752a",
                "5e76bafc7a1db044"
            ]
        ]
    },
    {
        "id": "1c92a6958cdd3fe8",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "user/state",
        "topic": "user/state",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "8954b5416bfd12a4",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "retain?",
        "func": "if (msg.payload.ret === true) {\n    msg.retain = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "5b6495e98af2cb5f",
                "02de8e1d9ec75150"
            ]
        ]
    },
    {
        "id": "4cc5e50ae4f2113e",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "FIXME",
        "info": "Don't allow retained user messages. But how to test?\n",
        "x": 350,
        "y": 740,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "cd814831c5ad2673",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "clear big",
        "topic": "big",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "d855b78211301be9",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "clear user/state",
        "topic": "user/state",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 1180,
        "y": 520,
        "wires": []
    },
    {
        "id": "dafda022462fc446",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "null payload",
        "func": "msg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 460,
        "wires": [
            [
                "d855b78211301be9",
                "cd814831c5ad2673"
            ]
        ]
    },
    {
        "id": "c3148f0baabf752a",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "admin/state",
        "topic": "admin/state",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "e340886173db8ab2",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "store votes",
        "func": "if (msg.payload.qid != null && msg.payload.nid != null && msg.payload.optionid != null) {\n    // initialize once; could do elsewhere.\n    let votes = global.get('votes');\n\n    if (votes[msg.payload.qid] == null) {\n        votes[msg.payload.qid] = new Object;\n    }\n    votes[msg.payload.qid][msg.payload.nid] = msg.payload.optionid;\n\n    let votesCount = global.get('votesCount');\n    votesCount++;\n    global.set('votesCount', votesCount);\n    msg.votesCount = votesCount;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "86c63f8226e299bc",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "initialize contexts",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// initialize once; could do elsewhere.\nlet votes = global.get('votes');\nif (votes == null) {\n    votes = new Object;\n    global.set('votes', votes);\n}\n\nlet votesCount = global.get('votesCount');\nif (votesCount == null) {\n    votesCount = 0;\n    global.set('votesCount', votesCount);\n}\n\n// TESTING\n/*\nvotes = {\n      e2: {\n          a: \"yes\",\n          b: \"yes\",\n          c: \"maybe\",\n          d: \"no\",\n          e: \"no\",\n          f: \"no\"\n      }\n};\nglobal.set('votes', votes);\n*/\n",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "045ee2025362b1a3",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "compute votes",
        "func": "// reset votes count (just the running count)\n// FIXME: why was I resetting this on reval?\n//global.set('votesCount', 0);\n//msg.payload.votesCount = 0;\n\n// count number of votes for the reveal id\nlet question = msg.payload.revid;\nif (question == null) { return msg; }\n\nlet votes = global.get('votes');\nlet counts = new Object;\n\nfor (const key in votes[question]) {\n    let vval = votes[question][key];\n    if (counts[vval] == null) { counts[vval] = 0; }\n    counts[vval]++;\n}\n\nmsg.payload.counts = counts;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 320,
        "wires": [
            [
                "bdaba4b306cdfc76",
                "c6b1697249662049"
            ]
        ]
    },
    {
        "id": "9463233b8a6a9e70",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "stats",
        "topic": "stats",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "879166376fd7891a",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "reveal",
        "info": "",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "5e76bafc7a1db044",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "reset all voting",
        "func": "global.set('votes', {});\nglobal.set('votesCount', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c138f78a148bf01d",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "clear",
        "info": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "5fa42eb3d57c998e",
        "type": "comment",
        "z": "bd6df3c71e332263",
        "name": "msg",
        "info": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "bdaba4b306cdfc76",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "big",
        "topic": "big",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6b1697249662049",
        "type": "debug",
        "z": "bd6df3c71e332263",
        "name": "Mosquitto msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "8cc8f5d3dfa412cc",
        "type": "function",
        "z": "bd6df3c71e332263",
        "name": "reset voteCount",
        "func": "global.set('votesCount', 0);\n\n// clear retained big message\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 240,
        "wires": [
            [
                "538faac8870bc929"
            ]
        ]
    },
    {
        "id": "538faac8870bc929",
        "type": "mqtt out",
        "z": "bd6df3c71e332263",
        "name": "clear big",
        "topic": "big",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ec316c01587be078",
        "x": 1120,
        "y": 240,
        "wires": []
    },
    {
        "id": "8d0740642e8605be",
        "type": "debug",
        "z": "bd6df3c71e332263",
        "name": "user in/out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 780,
        "wires": []
    }
]